body {
  margin: 0px;
}

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Megrim);

.landin {
  height: 480px;
  background: linear-gradient(90deg, #5f93ff, #71aaff, #2b55a8dc, #7a96cf, #6690c7);
}

/*Logo*/
.logo {
  margin-left: 65px;
  font-size: 50px;
  padding: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 700;
  /* bold for emphasis */
  letter-spacing: 1px;
}

/*Navigation bar*/
.four-nav {
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 4px 9px 13px -1px rgb(55 104 120);
  margin-top: 8px;
}

.four-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

.four-nav ul li {
  width: 25%;
  text-align: center;
  border-right: 1px solid #19405d;
  background: linear-gradient(45deg, #2b5b84, #1f3c73);
}

.four-nav ul li:last-child {
  border-right: none;
}

.four-nav ul li a {
  display: block;
  padding: 15px 0;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.2s;
  font-size: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.four-nav ul li:first-child {
  border-radius: 10px 0px 0px 10px;
}

.four-nav ul li:last-child {
  border-radius: 0px 10px 10px 0px;
}

.four-nav ul li a:hover {
  background: linear-gradient(45deg, #2b5b8498, #1f3c73c8);
  transform: translateY(-10px);
}

.four-nav ul li:first-child a:hover {
  border-radius: 10px 0px 0px 10px;
}

.four-nav ul li:last-child a:hover {
  border-radius: 0px 10px 10px 0px;
}

/*Hero Section*/
.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section {
  width: 80%;
  margin: 0 auto;
}

#hero-section {
  margin-top: 20px;
  padding: 5px;
  font-size: 22px;
}

#hero-subtitle {
  margin-left: 40px;
  margin-top: -7px;
  font-size: 20px;
}

.container {
  width: 190px;
  height: 70px;
  position: absolute;
  left: 22%;
  top: 75%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: #285581e0;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #15497c;
  font-weight: bold;
  transform: translateY(-10px);
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
  transition: 0.2s ease-in-out;
}

.hr-infinity {
  border: 0;
  height: 11px;
  background: #15497c;
  position: relative;
  margin: 30px 0;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.hr-infinity::before {
  content: "∞";
  position: absolute;
  top: -10px; /* center vertically */
  left: 50%;
  transform: translateX(-50%);
  background: white;
  color: #15497c;
  padding: 0px 43px 0px 40px;
  font-size: 24px;
}

.code-pre {
  width: 80%;
  margin: 0 auto;
  padding: 0px;
}

.title {
  font-size: 20px;
}

.pulse-code {
  height: 270px;
  width: 400px;
  background: #1e1e1e;
  color: #dcdcdc;
  padding: 15px;
  border-radius: 10px;
  font-family: "Consolas", monospace;
  margin-top: 15px;
  margin-left: 60px;
  overflow-x: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  white-space: pre-wrap;
}

#typewriter {
  width: 400px;
  margin-top: -34px;
  font-size: 20px;
  font-weight: bold;
}

.after-section-hr {
  margin-top: 40px;
  width: 80%;
}

.why-pulse-card {
  margin-left: 70px;
}

.olcards,
.olcards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.olcards {
  list-style: none;
  counter-reset: cardCount;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}

.olcards li {
  counter-increment: cardCount;
  display: flex;
  color: white;
  margin-top: -7px;
}

.olcards li::before {
  content: counter(cardCount, decimal-leading-zero);
  background: #819fc0;
  color: var(--cardColor);
  font-size: 1.8em;
  font-weight: 700;
  transform: translateY(-1rem);
  margin-right: -1rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5em;
  border-radius: 40%;
}

.olcards li .content {
  background-color: var(--cardColor);
  display: grid;
  padding: 1rem 1.5rem;
  grid-template-areas:
    "icon title"
    "icon text";
  gap: 0.25em 1em;
  clip-path: polygon(0 0,
      calc(100% - 1.5rem) 0,
      100% 50%,
      calc(100% - 1.5rem) 100%,
      calc(100% - 1.5rem) calc(100% + 1rem),
      0 calc(100% + 1rem));
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s, box-shadow 0.3s;
}

.olcards li .content:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

.olcards li .content::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: var(--cardColor);
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  filter: brightness(0.75);
}

.olcards li .content::after {
  content: "";
  position: absolute;
  height: 1rem;
  width: 1rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.15), transparent 50%);
  left: 0;
  top: 100%;
}

.olcards li .icon {
  grid-area: icon;
  align-self: center;
  font-size: 2em;
}

.olcards li .content .bullet-title {
  grid-area: title;
  font-size: 1.25em;
  font-weight: 700;
}

.olcards li .content .text {
  grid-area: text;
  font-size: 0.95em;
  opacity: 0.9;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1200px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(45deg, #2b5b84, #1f3c73);
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(50, 93, 140);
  padding: 30px 20px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card h3 {
  margin: 10px 10px;
  color: #ffffff;
  font-size: 25px
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgb(43, 81, 122);
}

.pipeline {
  display: flex;
  justify-content: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.pipeline:hover {
  transform: translateY(-10px);
}

.block {
  position: relative;
  display: inline-block;
  background: #274f7e;
  color: white;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 10px 0px 2px 10px;
  margin: 20px 10px;
  width: 200px;
  height: 40px;
  box-shadow: 10px 10px 20px rgba(50, 93, 140);
}

.block::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border-top: 37px solid transparent;
  border-bottom: 34px solid transparent;
  border-left: 20px solid #274f7e;
}

#AST::before,
#python-bend::before {
  content: "";
  position: absolute;
  top: 0;
  right: 230px;
  width: 0;
  height: 0;
  border-top: 37px solid transparent;
  border-bottom: 34px solid transparent;
  border-left: 20px solid #ffffffbf;

}

#AST,
#python-bend {
  border-radius: 0px;
}

#Interpreter h2 {
  margin-left: 40px;
  margin-top: 6px;
}

#AST h2 {
  margin-top: 6px;
  margin-left: 75px;
}

#python-bend h2 {
  margin-top: 6px;
  margin-left: 10px;
}

.footer {
  background: #274f7e;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
  margin-top: 40px;
}

.footer .row {
  width: 100%;
  margin: 0% 0%;
  padding: 0.6% 0%;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width:720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
}